<%- include('../partial/header') %>
<%- include('../partial/navbar') %>
        <!--================ Start Banner Area =================-->
        <section class="banner_area">
          <div class="banner_inner d-flex align-items-center">
              <div class="container">
                  <div class="banner_content text-center">
                      <h2>ກ່ຽວກັບພວກເຣົາ</h2>
                      <div class="page_link">
                          <a href="/">ໜ້າຫລັກ</a>
                          <a href="/about">ກ່ຽວກັບພວກເຣົາ</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--================ End Banner Area =================-->
      
      <!--================ Start About Us Area =================-->
      <section class="about_area section_gap">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
              <div class="about_img">
                <img class="" src="/dist/img/about-us.png" alt="">
              </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
              <div class="main_title text-left">
                <h2>ສະບາຍດີ,<br>
                    ຂໍແນະນຳກ່ອນພວກເຮົາແມ່ນໃຜ້?<br>
                  ພວກເຮົາແມ່ນ Jr, FullStack Developer</h2>
                <p>
                  ຂ້າພະເຈົ້າຈະມາໃຫ້ການແນະນຳກ່ຽວກັບ, ການສ້າງເວບໄຊຕ່າງໆໃຫ້ທ່ານທີສົນໃຈໃນເລື່ອງພັດທະນາເຊັ່ນ: ການສ້າງເວບໜ້າດຽວ, ການສ້າງເວບແອັບທີສາມາດໃຊ້ການໄດ້ຜ່ານ Browser ເລີຍ, ຫລື ຈະເປັນການສ້າງໄວໃນຮູບແບບ Restful APi
                  ແລ້ວ ສາມາດນຳໄປສ້າງໜ້າ frontend(UI) ຜ່ານເວບ ແລະ ແອັບມືຖື ທີ່ສາມາດດື່ງຖ່ານຂໍ້ມູນຈາກທີດຽວກັນ.
                </p>
                <p>
                  ສີ່ງທີພວກເຣົາກຳລັງສ້າງສັນອອກໃຫ້ທຸກຄົນໄດ້ຮຽນຮູ້ ແລະ ພັດທະນາໄປນຳກັນ, ດັ່ງນີ້: 
                  <br> -ການສ້າງເວັບໜ້າດຽວຜ່ານ MVC Framework ຕ່າງໆ: Php Laravel, Vue js, ແລະ ອື່ນໆ
                  <br> -ການສ້າງລະບົບເວບແອັບຜ່ານ RestFul APi ຕ່າງໆ: Node js, Express, MySQL, Postgresql, NoSQL, ທີ່ສາມາດສ້າງ frontend ຜ່ານ Reactjs, React-native, Flutter ແລະ ອື່ນໆ,
                  <br> -ສ້າງການຕະຫລາດອອນໄລ໌ເຊັ່ນ: Digital Marketing, Facebook For Business, ແລະ ອື່ນໆ
                  <br> -ການຂຽນ ແລະ ສ້າງສັນ Content ອອນໄລ໌
                  <br> -ການອອກແບບ Design ຕ່າງໆ.  
                </p>
                <a class="primary_btn" href="#"><span>ຕິດຕໍ່ພວກເຮົາ</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================ End About Us Area =================-->
      <!--================ Srart Brand Area =================-->
      <section class="brand_area section_gap_bottom">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo1.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo2.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo4.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo5.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo6.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo7.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo8.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="single-brand-item d-table">
                                  <div class="d-table-cell text-center">
                                      <img src="/dist/img/brands/logo9.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="offset-lg-2 col-lg-4 col-md-6">
                      <div class="client-info">
                          <div class="d-flex mb-50">
                              <span class="lage">3</span>
                              <span class="smll">Years Experience Working</span>
                          </div>
                          <div class="call-now d-flex">
                              <div>
                                  <span class="fa fa-phone"></span>
                              </div>
                              <div class="ml-15">
                                  <p>call us now</p>
                                  <h3>(+1)-800-555-6789</h3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--================ End Brand Area =================-->
  
      <!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>ລູກຄ້າຄືຄວາມສຳຄັນຂອງພວກເຮົາ:</h2>
            <p>ຮ່ວມເປັນສ່ວນຫນື່ງກັບການພັດທະນາ ແລະ ສ້າງສັນນະວັດຕະກຳຂອງເທັກໂນໂລຊີອອກມາຣັບໃຊ້ສັງຄົມຂອງພວກເຣົາກັນເທິ, <br>
              ປອດໄພ, ກ່າວໄກ, ໃສ່ໃຈ ພັດທະນາ ສູ່ຄວາມສຳເລັດຂອງທ່ານ ດ້ວຍເທັກໂນໂລຊີທີທັນສະໄໝ່</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_slider owl-carousel">
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->
  
<%- include('../partial/footer') %>   