<%- include('../partial/header') %>
<%- include('../partial/navbar') %>
	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="/dist/img/about-us.png" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>ສະບາຍດີ,<br>
							  ຂໍແນະນຳກ່ອນພວກເຮົາແມ່ນໃຜ້?<br>
							ພວກເຮົາແມ່ນ Jr, FullStack Developer</h2>
						<p>
              ຂ້າພະເຈົ້າຈະມາໃຫ້ການແນະນຳກ່ຽວກັບ, ການສ້າງເວບໄຊຕ່າງໆໃຫ້ທ່ານທີສົນໃຈໃນເລື່ອງພັດທະນາເຊັ່ນ: ການສ້າງເວບໜ້າດຽວ, ການສ້າງເວບແອັບທີສາມາດໃຊ້ການໄດ້ຜ່ານ Browser ເລີຍ, ຫລື ຈະເປັນການສ້າງໄວໃນຮູບແບບ Restful APi
              ແລ້ວ ສາມາດນຳໄປສ້າງໜ້າ frontend(UI) ຜ່ານເວບ ແລະ ແອັບມືຖື ທີ່ສາມາດດື່ງຖ່ານຂໍ້ມູນຈາກທີດຽວກັນ.
						</p>
						<p>
              ສີ່ງທີພວກເຣົາກຳລັງສ້າງສັນອອກໃຫ້ທຸກຄົນໄດ້ຮຽນຮູ້ ແລະ ພັດທະນາໄປນຳກັນ, ດັ່ງນີ້: 
              <br> -ການສ້າງເວັບໜ້າດຽວຜ່ານ MVC Framework ຕ່າງໆ: Php Laravel, Vue js, ແລະ ອື່ນໆ
              <br> -ການສ້າງລະບົບເວບແອັບຜ່ານ RestFul APi ຕ່າງໆ: C#, Java, Node js, Express, MySQL, Postgresql, NoSQL, ທີ່ສາມາດສ້າງ frontend ຜ່ານ Reactjs, React-native, Flutter ແລະ ອື່ນໆ,
              <br> -ສ້າງການຕະຫລາດອອນໄລ໌ເຊັ່ນ: Digital Marketing, Facebook For Business, ແລະ ອື່ນໆ
              <br> -ການຂຽນ ແລະ ສ້າງສັນ Content ອອນໄລ໌
              <br> -ການອອກແບບ Design ຕ່າງໆ.  
						</p>
						<a class="primary_btn" href="#"><span>ຕິດຕໍ່ພວກເຮົາ</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!--================ End About Us Area =================-->
  
	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>ບໍລິການຕ່າງໆທີເຣົາມີສຳລັບທຸລະກິດຂອງທ່ານ</h2>
						<!-- <p>
							Is give may shall likeness made yielding spirit a itself togeth created 
							after sea <br> is in beast beginning signs open god you're gathering ithe
						</p> -->
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s1.png" alt="">
						<h4>Software Developing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
        <div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s4.png" alt="">
						<h4>Mobile App Developing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s2.png" alt="">
						<h4>UI/ux design</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s3.png" alt="">
						<h4>Web Developing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s4.png" alt="">
						<h4>seo optimize</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
        <div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s3.png" alt="">
						<h4>Digital Marketing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
        <div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s1.png" alt="">
						<h4>Model Designing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
        <div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="/dist/img/services/s2.png" alt="">
						<h4>Luanguege Content</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
        </div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>ຜະລິດຕະພັນຂອງພວກເຣົາ <br>
							ໂປຣເຈັກສຳເລັດຮູບປະຈຸບັນຂອງພວກເຮົາມີ: </h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".popular">popular</li>
					<li data-filter=".latest"> latest</li>
					<li data-filter=".following">following</li>
					<li data-filter=".upcoming">upcoming</li>
				</ul>
			</div>
	
			<div class="filters-content">
				<div class="row"> <!-- portfolio-grid justify-content-center -->
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p1.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p1.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຟີນິເຈິ</a></h4>
								<p>Furniture Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p2.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p2.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຄື່ອງນຸງຫົມ</a></h4>
								<p>Shoes Soft-Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p3.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p3.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຄື່ອງດື່ມ</a></h4>
								<p>Soft Drink-Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p4.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p4.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍຜະລິດຕະພັນເກີບ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p6.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p5.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍດອກໄມ້</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p5.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p6.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍຫນັ່ງສືສີລະປະ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p7.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p7.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານເຄື່ອງດື່ມ Caffe</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p9.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p9.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຖ່າຍຮູບ ຫລື ການພີ່ມໂຄສະນາຕ່າງໆ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

	<!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>ລູກຄ້າຄືຄວາມສຳຄັນຂອງພວກເຮົາ:</h2>
            <p>ຮ່ວມເປັນສ່ວນຫນື່ງກັບການພັດທະນາ ແລະ ສ້າງສັນນະວັດຕະກຳຂອງເທັກໂນໂລຊີອອກມາຣັບໃຊ້ສັງຄົມຂອງພວກເຣົາກັນເທິ, <br>
              ປອດໄພ, ກ່າວໄກ, ໃສ່ໃຈ ພັດທະນາ ສູ່ຄວາມສຳເລັດຂອງທ່ານ ດ້ວຍເທັກໂນໂລຊີທີທັນສະໄໝ່</p>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="testi_slider owl-carousel">
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t1.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="/dist/img/testimonials/t2.jpg" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
			</div> -->
		</div>
	</div>
	<!--================ End Testimonial Area =================-->
<%- include('../partial/footer') %>