<%- include('../partial/header') %>

      <div class="container col-md-6">
        <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <h2 class="mb-4"><span>User Login</span></h2>
        </div>
        <div class="col-md-9">
            <form action="#" class="bg-white p-5 contact-form">
              <div class="form-group">
                <label for="user/email">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password">
              </div>
              <!-- <div class="form-group">
                <label for="remember-me" class="text-info"><span><input id="remember-me" name="remember-me" type="checkbox"></span><span> Remember me</span></label><br>
              </div> -->
              <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary pull-right">
              </div>
              <div class="form-group">
                <a href="/register">Create New Account?</a>
              </div>
            </form>
        </div>
      </div>
<%- include('../partial/script') %> 