<%- include('../partial/header') %>
<%- include('../partial/navbar') %>
      <!--================ Start Banner Area =================-->
      <section class="banner_area">
          <div class="banner_inner d-flex align-items-center">
              <div class="container">
                  <div class="banner_content text-center">
                      <h2>Products List</h2>
                      <div class="page_link">
                          <a href="/">ໜ້າຫລັກ</a>
                          <a href="/products">Products</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--================ End Banner Area =================-->
  

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="main_title text-left">
						<h2>ຜະລິດຕະພັນຂອງພວກເຣົາ <br>
							ໂປຣເຈັກສຳເລັດຮູບປະຈຸບັນຂອງພວກເຮົາມີ: </h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".popular">popular</li>
					<li data-filter=".latest"> latest</li>
					<li data-filter=".following">following</li>
					<li data-filter=".upcoming">upcoming</li>
				</ul>
			</div>
	
			<div class="filters-content">
				<div class="row"> <!-- portfolio-grid justify-content-center -->
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p1.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p1.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຟີນິເຈິ</a></h4>
								<p>Furniture Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p2.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p2.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຄື່ອງນຸງຫົມ</a></h4>
								<p>Shoes Soft-Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p3.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p3.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍເຄື່ອງດື່ມ</a></h4>
								<p>Soft Drink-Animated, Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p4.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p4.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍຜະລິດຕະພັນເກີບ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p6.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p5.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍດອກໄມ້</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p5.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p6.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຂ່າຍຫນັ່ງສືສີລະປະ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p7.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p7.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານເຄື່ອງດື່ມ Caffe</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="/dist/img/portfolio/p9.jpg" alt="">
								<div class="overlay"></div>
								<a href="/dist/img/portfolio/p9.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">ຮ້ານຖ່າຍຮູບ ຫລື ການພີ່ມໂຄສະນາຕ່າງໆ</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
          
          </div>
        </div>
       
      </div>
      
		</div>
	</section>
  <!--================End Portfolio Area =================-->
  
<%- include('../partial/footer') %>