<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title %></title>
  <%- include('../../partial/adminsource') %>
  <style>
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (min-width: 851px) and (max-width: 1440px) {

      html,
      body,
      header,
      .view {
        height: 850px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 451px) and (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 1200px;
      }
    }

    @media (max-width: 450px) {

      html,
      body,
      header,
      .view {
        height: 1400px;
      }
    }
  </style>
</head>

<body class="signin-page">
  <!-- Main Navigation -->
  <header>
    <!-- Intro Section -->
    <section class="view intro-2">
      <div class="mask">
        <div class="container h-100 d-flex justify-content-center align-items-center">


            <!-- Grid column -->
            <div class="col-md-6">

              <div class="card">
                <div class="card-body">
                  <div class="form-header blue-gradient">
                    <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-user"></i>Login</h3>
                  </div>
                  <hr>
                  <form action="/admin/login" method="post">
                    <div class="md-form">
                      <i class="fas fa-envelope prefix"></i>
                      <input type="email" id="orangeForm-email" class="form-control">
                      <label for="orangeForm-email">Your email</label>
                    </div>

                    <div class="md-form">
                      <i class="fas fa-lock prefix"></i>
                      <input type="password" id="orangeForm-pass" class="form-control">
                      <label for="orangeForm-pass">Your password</label>
                    </div>

                    <div class="text-center">
                      <button class="btn btn-indigo btn-rounded mt-5">Login</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
            <!-- Grid column -->
        </div>
      </div>
    </section>
    <!-- Intro Section -->
  </header>
  <!-- Main Navigation -->

  <%- include('../../partial/adminscript') %>
  <!-- Custom scripts -->
  <script>

    new WOW().init();

  </script>

</body>

</html>