  <div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">

      <!-- Logo -->
      <li class="logo-sn waves-effect py-3">
        <div class="text-center">
          <a href="#" class="pl-0"><img src="/backend/img/sample.jpg"></a>
        </div>
      </li>

      <!-- Search Form -->
      <li>
        <form class="search-form" role="search">
          <div class="md-form mt-0 waves-light">
            <input type="text" class="form-control py-2" placeholder="ຄົ້ນຫາ....">
          </div>
        </form>
      </li>

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fas fa-tachometer-alt"></i>ໜ້າຫລັກ<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="/admin" class="waves-effect">ຈັດການໜ້າຫລັກ</a>
                </li>
                <li>
                  <a href="/admin/pages" class="waves-effect">ຈັເການໜ້າຜູ້ໃຊ້</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fas fa-image"></i>ຈັດການຂໍ້ມູນຂ່າວສານ<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/admin/blogs" class="waves-effect">ຂໍ້ມູນຂ່າວສານທັງໝົດ</a></li>
                <li><a href="/admin/cats" class="waves-effect">ປະເພດຂ່າວສານ</a></li>
                <li><a href="/admin/tags" class="waves-effect">ໝ່ວດຂ່າວສານ</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fab fa-css3"></i>ຈັດການຂໍ້ມູນຜະລິດຕະພັນ<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="../css/grid.html" class="waves-effect">Grid system</a>
                </li>
                <li>
                  <a href="../css/media.html" class="waves-effect">Media object</a>
                </li>
                <li>
                  <a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>
                </li>
                <li>
                  <a href="../css/code.html" class="waves-effect">Code</a>
                </li>
                <li>
                  <a href="../css/icons.html" class="waves-effect">Icons</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fas fa-th"></i>ບໍລິການທັງໝົດ<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="../components/buttons.html" class="waves-effect">Buttons</a>
                </li>
                <li>
                  <a href="../components/cards.html" class="waves-effect">Cards</a>
                </li>
                <li>
                  <a href="../components/collapse.html" class="waves-effect">Collapse</a>
                </li>
                <li>
                  <a href="../components/date.html" class="waves-effect">Date picker</a>
                </li>
                <li>
                  <a href="../components/list.html" class="waves-effect">List group</a>
                </li>
                <li>
                  <a href="../components/panels.html" class="waves-effect">Panels</a>
                </li>
                <li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fas fa-user"></i>ຈັດການຂໍ້ມູນຜູ້ໃຊ້<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="../profile/basic-1.html" class="waves-effect">Basic 1</a>
                </li>
                <li>
                  <a href="../profile/basic-2.html" class="waves-effect">Basic 2</a>
                </li>
                <li>
                  <a href="../profile/extended.html" class="waves-effect">Extended</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa far fa-check-square"></i>ຂໍ້ມູນຜູ້ຈັດການລະບົບ<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="/admin/profile" class="waves-effect">ຂໍ້ມູນສ່ວນຕົວ</a>
                </li>
                <li>
                  <a href="/admin/profile/edit" class="waves-effect">ຕັ້ງຄ່າຂໍ້ມູນສ່ວນຕົວ</a>
                </li>
                <li>
                  <a href="/admin/login" class="waves-effect">ອອກຈາກລະບົບ</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <!-- Side navigation links -->

    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>