<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="subscription_box text-center">
          <h2 class="text-uppercase text-white">ສາມາດຣັບຂໍ້ມູນຂ່າວສານການອັບເດດຂອງພວກເຣົາໄດ້:</h2>
          <p class="text-white">
            ສົ່ງອີເມວຂອງທ່ານເພື່ອຮັບຂ່າວສານການເຄື່ອນໄຫວຂອງພວກເຮົາໄດ້ທຸກທີ, ທຸກເວລາ...! 
          </p>
          <div class="subcribe-form" id="mc_embed_signup">
            <form target="_blank" novalidate="true" action="/admin/subscribe" method="get" class="subscription relative">
              <input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>
              <button class="primary-btn hover d-inline">ສົ່ງເມວ</button>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Newsletter Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <img src="img/logo.png" alt="">
            </a>
            <h4>ຕິດຕ່າມພວກເຮົາໄດ້ທີ:</h4>
          </div>
          <div class="footer_social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Power <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://daily-tech.io" target="_blank"><br>BL-Tech</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->

<%- include('./script') %>
</body>
</html>