
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="/dist/img/favicon.png" type="image/png">
	<title><%= title %></title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/dist/vendors/linericon/style.css">
	<link rel="stylesheet" href="/dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dist/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/dist/css/magnific-popup.css">
	<link rel="stylesheet" href="/dist/vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="/dist/css/style.css">
</head>

<body>